/* ==============================================================
   1. LAYOUT GENERAL
   ============================================================== */
.products-manager { padding: 20px; }

.Card-ProductsList {
  display: flex; gap: 15px; margin-top: 10px; margin-bottom: 20px; justify-content: flex-end;
}

.Card-ProductsList button {
  background-color: #555843; color: white; border: none; padding: 12px 20px;
  border-radius: 10px; font-weight: 600; cursor: pointer; box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.Card-ProductsList button:hover { background-color: #38bdf8; }

/* ==============================================================
   2. FILTROS Y TABLA
   ============================================================== */
.filter-container { display: flex; gap: 10px; margin-bottom: 20px; }

.filter-btn {
  padding: 8px 16px; border-radius: 8px; border: 1px solid #555843;
  background: #555843; cursor: pointer; font-weight: 600; color: white;
  transition: all 0.2s;
}

.filter-btn.active { background: #38bdf8; color: white; }

.filter-btn:hover:not(.active) { background: white; color: black; }

.product-table {
  width: 100%; max-width: 1000px; border-collapse: collapse;
  background-color: #ffffff; border-radius: 16px; overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.product-table th { background-color: #555843; padding: 18px; text-align: left; color: white; }
.product-table td { padding: 16px; border-bottom: 1px solid #f1f5f9; color: #334155; font-weight: 500; }
.product-table tr:hover { background-color: #fafaf8; }

.product-table button {
  background-color: #555843; border: none; color: white;
  padding: 6px 12px; border-radius: 6px; cursor: pointer; margin-right: 8px;
}
.product-table button:hover { background-color: #38bdf8; }

/* Efecto desactivado */
.product-row-disabled { opacity: 0.6; background-color: #f1f5f9; }